@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
    background-color: #83c6de;
    background-size: cover;
    text-align: center;
}
#container {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 0 auto;
}


h1 {
    font-family: 'Satisfy', cursive;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    font-size: 101px;
    color: white;
    margin: 0 auto;
    padding-top: 40px;
    line-height: 240px;
}

input {
    line-height: 50px;
    height: 50px;
    width: 100%;
    border-radius: 150px;
    border: none;

    resize: none;
    text-align: center;
    box-shadow: 0px 0px 0px 1px rgba(107, 107, 107, 0.36);
}
input:disabled {
    background: white;
}

#reload_button {
    background: url("loading.svg") center no-repeat;
    width: 30px;
    margin-left: 20px;
    opacity: 0.4;
    height: 50px;
    transition: opacity 200ms linear;
    cursor: pointer;


}
#reload_button:hover {
    opacity: 1;
}
